.grades li {
    animation: animate 25s linear infinite;
}

.grades li:nth-child(1) {
    left: 5%;
    font-size: 5rem;
    animation-delay: 0s;
    animation-duration: 8s;
}

.grades li:nth-child(2) {
    left: 10%;
    font-size: 4.5rem;
    animation-delay: 1s;
    animation-duration: 8s;
}

.grades li:nth-child(3) {
    left: 60%;
    font-size: 6.5rem;
    animation-delay: 2s;
    animation-duration: 12s;
}

.grades li:nth-child(4) {
    left: 15%;
    font-size: 7.5rem;
    animation-delay: 0s;
    animation-duration: 15s;
}

.grades li:nth-child(5) {
    left: 45%;
    font-size: 10rem;
    animation-delay: 1s;
    animation-duration: 20s;
}

.grades li:nth-child(6) {
    left: 70%;
    font-size: 9rem;
    animation-delay: 3s;
    animation-duration: 20s;
}

.grades li:nth-child(7) {
    left: 25%;
    font-size: 5rem;
    animation-delay: 5s;
    animation-duration: 8s;
}

.grades li:nth-child(8) {
    left: 35%;
    font-size: 8rem;
    animation-delay: 10s;
    animation-duration: 15s;
}

.grades li:nth-child(9) {
    left: 80%;
    font-size: 7rem;
    animation-delay: 2s;
    animation-duration: 14s;
}

.grades li:nth-child(10) {
    left: 50%;
    font-size: 6rem;
    animation-delay: 0s;
    animation-duration: 12s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
