.shape-circle {
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    top: -10vw;
    left: -10vw;
    position: absolute;
    transition: all 1s ease-in-out;
    background: white;
    box-shadow: 0 0px 0px rgba(4, 26, 62, 0.5);
}

nav.visible li:first-child {
    width: 100vw;
    height: 100vw;
    top: -50vw;
    left: -50vw;
    z-index: 7;
    transition: all 0.7s ease-in-out;
    box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
}

nav.visible li:last-child {
    width: 50vw;
    height: 50vw;
    top: -25vw;
    left: -25vw;
    z-index: 8;
    transition: all 0.8s ease-in-out;
    box-shadow: 0 0px 50px rgba(4, 26, 62, 0.5);
}

@media screen and (min-width: 1200px) {
    nav.visible li:first-child {
        width: 80vw;
        height: 80vw;
    }

    nav.visible li:last-child {
        width: 40vw;
        height: 40vw;
    }
}
